body {
  background-color: rgb(233, 145, 236);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form input {
  width: 20%;
  border: none;
  padding: 8px 10px;
}

.search-form button {
  background-color: #fff;
  border: none;
  padding: 8px 10px;
}

.search-form button:hover {
  background-color: rgb(150, 11, 192);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.gallery,
.info {
  flex-wrap: wrap;
  display: flex;
}

.gallery {
  justify-content: center;
}

.gallery_link {
  margin-top: 20px;
  margin-left: 20px;
  flex-basis: calc((100% - 80px) / 4);
  border: none;
  overflow: hidden;
}

.photo-card {
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
}

/* @media screen and (min-width: 768px) {
  .container {
    flex-wrap: nowrap;
  }
} */
.gallery_img {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.load-more {
  display: none;
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  color: #650d8d;
  flex-direction: column;
  align-items: center;
  font-size: smaller;

  display: flex;
}

.info-item:not(:first-child) {
  margin-left: 5px;
}
